<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951933412343-lpn8ups64nap7ijcs7npo5l9r4gls8fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951933412343-lpn8ups64nap7ijcs7npo5l9r4gls8fb</string>
	<key>API_KEY</key>
	<string>AIzaSyCIf3jQPcZymo9yZPZqs4rX1BcO3HLk1nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>951933412343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elmuslim.salat.azkar.salatWAzkarElmuslim</string>
	<key>PROJECT_ID</key>
	<string>tafakkur-582ed</string>
	<key>STORAGE_BUCKET</key>
	<string>tafakkur-582ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951933412343:ios:8933188c0463b77afe44f2</string>
</dict>
</plist>